donna.houseoffeuer.com {
    encode gzip zstd

    @api path /api/*
    handle @api {
        uri strip_prefix /api
        reverse_proxy donna-api:8200 {
            header_up X-Forwarded-For {remote_host}
            header_up X-Forwarded-Proto {scheme}
            header_up X-Forwarded-Host {host}
        }
    }

    handle {
        reverse_proxy donna-ui:8400
    }

    log {
        output file /var/log/caddy/donna-access.log
    }
}
